table.xml-real-estate-table {
    margin-left: auto;
    margin-right: auto;
    width: auto !important;
    max-width: 100% !important;
    border-collapse: collapse !important;
    margin: 5 px 0 !important;
}

table.xml-real-estate-table th,
table.xml-real-estate-table td {
    border: 1px solid #ccc !important;
    padding: 8px !important;
    text-align: left !important;
}

table.xml-real-estate-table th {
    background-color: #f4f4f4 !important;
}
